<phpunit bootstrap="../autoload.php">
    <php>
        <env name="TEST_OUTPUT_DIR" value="./output" />
    </php>
    <testsuites>
        <testsuite name="tdd-sdk-php">
            <directory>../tests/*</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
</phpunit>
